.horizontal {
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  width: 100%;
  transition: box-shadow 0.2s, border-color 0.2s;

  .left {
    display: flex;
    margin: 0 var(--sm-spacing);
    align-items: center;
  }

  .right {
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    h4, p {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

}

.horizontal:hover {
  cursor: pointer;
  box-shadow: 0 0 0.75rem rgba(33,33,33,.2); 
}