.body {
  margin-top: var(--sm-spacing);
  font-weight: 300;
  font-size: 1.3125rem;
  line-height: 1.6;

  .empty {
    margin-top: var(--lg-spacing);
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-weight: 200;
      font-size: var(--sm-font-size);
    }
  }
}