.header {
  background-color: var(--clr-primary-400);
  background-image: url(/discover.webp);
  background-position: center;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat; 
  padding: 5.25rem 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .searchContainer {
    width: 50%;
  }

  h1 {
    line-height: 1;
    font-size: var(--lg-font-size);
    color: rgb(70,136,71);
    transition: transform 250ms;
  }

  h2 {
    font-size: var(--med-font-size);
    padding: 0 var(--xs-spacing);
    color: rgb(70,136,71);
    transition: transform 250ms;
  }

  h1:hover, h2:hover {
    transform: translateY(-1.25rem);
  }

  @media screen and (max-width: 768px) {
    padding: 0.25rem 0 2.25rem 0;

    .searchContainer {
      width: 75%;
    }
  }
}