.header {
  background-color: var(--clr-primary-400);
  background-image: url(/discover.webp);
  background-position: center;
  background-size: cover;
  text-align: center;
  background-repeat: no-repeat; 
  padding: 6.25rem 0rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .searchContainer {
    width: 50%;
  }

  h1 {
    line-height: 1;
    font-size: var(--lg-font-size);
  }

  h2 {
    font-size: var(--med-font-size);
    padding: 0rem var(--xs-spacing);
  }

  @media screen and (max-width: 768px) {
    .searchContainer {
      width: 80%;
    }


    padding: 2.25rem 0rem;
  }
}