:root {
  --clr-primary-200: #F3EED9;
  --clr-primary-400: #FFCC01;
  --clr-neutral-100: #FFF;
  --clr-neutral-900: #222C2A;

  --sm-spacing: 0.5rem;
	--lg-spacing: 1rem;
	--lg-font-size: 2rem;
  --med-font-size: 1rem;
  --sm-font-size: 14px;

  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}

@media (min-width: 768px) {
	:root {
		--sm-spacing: 1rem;
		--lg-spacing: 2rem;
		--lg-font-size: 4rem;
    --med-font-size: 2rem;
    --sm-font-size: 20px;
	}
}